@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="rowLogin">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Register</h1>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <label asp-for="Input.Uusername"></label>
                <input asp-for="Input.Uusername" class="form-control" autocomplete="username" aria-required="true" />

                <span asp-validation-for="Input.Uusername" class="text-danger"></span>
            </div>
            <div class="input-box">

                <label asp-for="Input.UFirstName"></label>
                <input asp-for="Input.UFirstName" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.UFirstName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Input.UFirstLastName"></label>
                <input asp-for="Input.UFirstLastName" class="form-control" autocomplete="username" aria-required="true" />

                <span asp-validation-for="Input.UFirstLastName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />

                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />

                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <div class="login-link">
                <p>You have already an account <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
