<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>
    

    <header>

        <nav class="nav">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">SKYWINKS</a>

            <ul class="nav__links">
                <li class="nav__item">
                    <a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Ucaks" asp-action="Index">Ucak</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                     <li class="nav__item">
                        <a class="nav__link bookingBtn" href="#section--2">Booking</a>
                </li>


                }

                <li class="nav__item">
                    <a href="#" class="nav__link nav__link--btn btn--logout hidden">Logout</a>
                    <a href="#" class="welcome hidden"></a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </nav>

    </header>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/font-awesome/js/all.js"></script>
	<script src="~/lib/font-awesome/js/all.min.js"></script>
    <script type="module" src= "~/js/controller.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
